[submodule "vendor/llama-cpp-rs"]
	path = vendor/llama-cpp-rs
	url = https://github.com/DINOZYAVIER/llama-cpp-rs
	branch = mtp-speculative-decoding

[submodule "vendor/erc8004-evm"]
	path = vendor/erc8004-evm
	url = https://github.com/erc-8004/erc-8004-contracts.git
